html, body {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 2000px;
  margin: 0 auto;
  background-color: rgb(55, 155, 255);
}

.topoqs {
  height: 30vh;
  height: 100%;
  width: 100%;
  background-color: rgb(204, 204, 179);
  font-family: orbitron;
  font-size: 40pt;
  text-align: center;
}

.box {
  margin: 0 auto;  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.big-box {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.mainqs {
  
  align-items: center;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(55, 155, 255);
}

.desc {
  padding: 4%;
  flex-grow: 1;
  font-family: Audiowide;
}

.descimg {
  text-align: right;
  flex-grow: 1.5;
}

.descimg img {
  height: 7em;
  width: 7em;
}

